################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Algorithms/BinarySearch/obj
/Algorithms/.vs/Algorithms/v16
/Algorithms/BinarySearch/bin/Debug/netcoreapp3.1
/Algorithms/SelectionSort/bin/Debug/netcoreapp3.1
/Algorithms/SelectionSort/obj
/Algorithms/InsertionSort/bin/Debug/netcoreapp3.1
/Algorithms/InsertionSort/obj
/Algorithms/.vs/Algorithms/DesignTimeBuild
/Algorithms/RecursiveFactorial/obj
/Algorithms/RecursiveFactorial/bin/Debug/netcoreapp3.1
