################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Algorithms/BinarySearch/obj
/Algorithms/.vs/Algorithms/v16
/Algorithms/BinarySearch/bin/Debug/netcoreapp3.1
